<h1>All Orders for <%= @customer.id %></h1>

    <% @customer.orders.each do |order|%>
        <h2><%= order.date %></h2><br>
        <h3><%= order.kind_of_service %></h3><br>
        <h3><%= order.order_estimated_charges %></h3><br>
        <h3><%= order.order_actual_charges %></h3><br>
        <h3><%= order.materials_used %></h3><br>
        <h3><%= order.materials_cost %></h3><br>
        <h3><%= order.labor_hours %></h3><br>
        <h3><%= order.labor_cost %></h3><br>
        <h3><%= order.service_specialist_1 %></h3><br>
        <h3><%= order.service_specialist_2 %></h3><br>
        <h3><%= order.service_specialist_3 %></h3><br>
        <h3><%= order.service_specialist_4 %></h3><br>
        <h3><%= order.order_note_date %></h3><br>
        <h3><%= order.order_note %></h3><br>
    <% end %>    


