

<%= customer.email %><br>
<label>Address:</label>
<%= customer.address %><br>
<label>Phone:</label>
<%= customer.phone_1 %><br>
<label>Alt. Phone:</label>
<%= customer.phone_2 %><br>
<label>Fax:</label>
<%= customer.fax %><br>
<label>Customer Notes:</label>
<%= customer.customer_notes %>

<h3>Make a new note about this customer:</h3><br>
<form>
<input type="textarea" name="customer[customer_notes]" id="customer_notes">

<input type="submit" id="Submit">
</form>
