<h1>Your Account</h1><br><br>

<h2>Account Number: <%= @customer.id %></h2><br>
<br>
<h2>Contact Information:</h2><br>

<label>First Name:</label>
<%= @customer.first_name %><br>
<label>Last Name:</label>
<%= @customer.last_name %><br>
<label>Email:</label>
<%= @customer.email %><br>
<label>Address:</label>
<%= @customer.address %><br>
<label>Phone:</label>
<%= @customer.phone_1 %><br>
<label>Alt. Phone:</label>
<%= @customer.phone_2 %><br>
<label>Fax:</label>
<%= @customer.fax %><br>

<a href="/customers/edit_customer_info">Edit Customer Info</a>

<h2>All of Your Orders</h2>

    <% @customer.orders.each do |order|%>
        <label>Order Number:</label>
        <h2><%= order.id %></h2><br>
        <label>Date:</label>
        <h2><%= order.order_date %></h2><br>
        <label>Kind of Service:</label>
        <h3><%= order.kind_of_service %></h3><br>
        <label>Estimated Charges:</label>
        <h3><%= order.estimated_charges %></h3><br>
        <label>Actual:</label>
        <h3><%= order.actual_charges %></h3><br>
        <label>Service Specialist/s:</label>
        <h3><%= order.service_specialist_1 %></h3><br>
        <h3><%= order.service_specialist_2 %></h3><br>
        <h3><%= order.service_specialist_3 %></h3><br>
        <h3><%= order.service_specialist_4 %></h3><br>
    <% end %>    
