<h1>Your Account</h1><br>
<h2>Account Number: <%= @customer.id %></h2><br>
<h3>Contact Information:</h3><br>
<label>First Name:</label>
    <%= @customer.first_name %><br>
<label>Last Name:</label>
    <%= @customer.last_name %><br>
<label>Email:</label>
    <%= @customer.email %><br>
<label>Address:</label>
    <%= @customer.address %><br>
<label>Phone:</label>
    <%= @customer.phone_1 %><br>
<label>Alt. Phone:</label>
    <%= @customer.phone_2 %><br>
<label>Fax:</label>
    <%= @customer.fax %><br>
<br>
    <% if logged_in? %>
        <a href = "/customers/<%= @customer.id %>/logout">Log out here</a>
    <% end %>
<br><br>
    <a href="/customers/<%= @customer.id %>/edit_customer_info">Edit Contact Information</a>
<br><br><br>
    <a href="/">Back to Home Page</a>


<h3>All of Your Orders</h3>

    <% @customer.orders.each do |order|%>
        <label>Order Number:</label>
        <h2><%= order.id %></h2><br>
        <label>Date:</label>
        <%= order.order_date %><br>
        <label>Kind of Service:</label>
            <%= order.kind_of_service %><br>
        <label>Estimated Charges:</label>
            <%= order.estimated_charges %><br>
        <label>Actual:</label>
            <%= order.actual_charges %><br>
        <label>Service Specialist/s:</label>
            <%= order.service_specialist_1 %><br>
            <%= order.service_specialist_2 %><br>
            <%= order.service_specialist_3 %><br>
            <%= order.service_specialist_4 %><br>
    <% end %>    

