<h1>Your New Order</h1>

    <h3>Order Number: <%= @order.id %> </h3><br><br>
    
        <h2><%= @order.order_date %></h2><br><br>
        <h3><%= @order.order_description %></h3><br><br>

    <a href="/orders/<%= @order.id %>/edit_new_order">Edit the order here</a><br><br>
    
    <form method="post" action="/orders/<%= @order.id%>/delete">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type="submit" value="Delete New Order">
    <br><br>


    <%# <a href="/orders/edit_order">Delete the order here</a><br><br> %>
    <a href="/customers/:id/customer_orders">See your order history here</a>



