<h1>Your New Order</h1><br>

    <h2>Order Number: <%= @order.id %> </h2><br>
        <h3>Order Date:</h3>
            <%= @order.order_date %></h3><br><br>
        <h3>Order Description:</h3>
            <%= @order.order_description %><br><br><br><br>

    <a href="/orders/<%= @order.id %>/edit_new_order">Edit the order here</a><br><br><br>
    
    <form method="post" action="/orders/<%= @order.id%>/delete">
        <input type="hidden" name="_method" id="hidden" value="DELETE">
        <input type="submit" value="Delete the order here">
    <br><br><br>

    <a href="/customers/:id/customer_orders">See your order history here</a>



